*{
background-color:#111111;
font-family: "Shadows Into Light", cursive;
}
#headerTag{
	padding-bottom:5px;
	width:100%;
}
#wrapper{
padding:50px;
}
#logo{
width:100%;
position:absolute;
height:50px;
background-color:#111111;
}
#buttonfb{
position:relative;
padding-left:0px;
}
#block{
position: center-left;
padding-top:5px;
padding-bottom:5px;
width: 100%;
float:center-right;
background-color:#111111;
}

#menu{
position:relative;
padding-left:360px;


}
.fb-login-button{
position:relative;
padding-left:50%;

}
.fb-comments{
float:center-right;
position:relative;

}