*{
background-color:#002433;
font-family: "Shadows Into Light", cursive;
}
#headerTag{
	padding-bottom:50px;
	width:100%;
}
#wrapper{
padding:50px;
}
#logo{
width:100%;
position:absolute;
height:50px;
background-color:#002433;
}
#buttonfb{
position:relative;
padding-left:0px;
}
#block{
position: center;
padding-top:5px;
padding-bottom:5px;
width: 100%;
float:center;
background-color:#002433;
}

#menu{
position:relative;
padding-left:360px;


}
#ad{
position:absolute;
float:top-right;

padding-left:666px;
}
#game{
float:top;
position:absolute;
padding-top:50px;
}

.fb-login-button{
position:relative;
padding-left:50%;

}
.fb-comments{
padding-top:70px;
float:right;
position:absolute;


}