*{
background-color:#002433;
font-family: "Shadows Into Light", cursive;
}
#headerTag{
width:100%;	
}

#menu{
position:relative;
float:top;


}
#logo{
position:relative;
float:left;
}

#canvas{
padding-left:20%;

}
#ad{
float:right;
}
#wrapper{
padding-left:50px;
padding-right:50px;
}

#buttonfb{
position:relative;
padding-left:0px;
}
#block{
position: center;
padding-top:5px;
padding-bottom:5px;
width: 100%;
float:center;
background-color:#002433;
}



#game{
float:top;
position:absolute;
padding-top:5px;
}

.fb-login-button{
position:relative;
padding-left:50%;

}
.fb-comments{
padding-top:5px;
float:right;
position:absolute;


}