h1 {
    color:blue;
    font-family:verdana;
    font-size:300%;
}
p  {
    color:red;
    font-family:courier;
    font-size:160%;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-6u1LIPpjjn_2y694w-XMeZYY_IrkelcGVDxpJjE7dMk3F6Rohw");
	
	background-position: bottom;
}