#body{
	
}

#section{
background-color: #FFFFFF;


}

div#minimapcontainer {

}
canvas#minimap {
 position : absolute;
}
canvas#minimapobjects {
 position : absolute;
}

div#floor {
 position : absolute;
 width : 100%;
 height : 100%;
 background-image: url("images/metal.png");
 background-color : rgb(128,128,128);
}

div#ceiling {
 position : absolute;
 width : 100%;
 height : 50%;
 background-image: url("images/blue-water.png");
 background-color : rgb(96,96,96);
}


#screen {
 position : relative;
 width : 100%;
 height : 315px;
 border : 1px solid black;
 overflow : hidden;
}

























































