*{
background-color:#000000;
font-family: "Shadows Into Light", cursive;
}
#headerTag{
	padding-bottom:5px;
	width:100%;
}
#wrapper{
padding:50px;
}
#logo{
position: center;
height:50px;
background-color:#111111;
}
#menu{
position:relative;
padding-left:360px;


}
#block{
position: relative;
padding-top:5px;
padding-bottom:5px;
width: 100%;

background-color:#111111;
}
#footer{
position: relative;
width:100%;
height:50px;
background-color:#000000;
}
#game{
position:relative;

}