@import url(http://fonts.googleapis.com/css?family=Dosis&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext,cyrillic);
ul#css3menu20,ul#css3menu20 ul{
	margin:0;list-style:none;padding:0;background-color:;border-width:0;border-style:solid;border-color:;}
ul#css3menu20 ul{
	display:none;position:relative;left:0;top:100%;background-color:#47515B;border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;padding:0 0 10px;}
ul#css3menu20 li:hover>*{
	display:block;}
ul#css3menu20 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu20 li:hover{
	z-index:1;}
ul#css3menu20{
	font-size:0;z-index:999;position:absolute;display:inline-block;zoom:1;padding:10px 20px 20px 0;border-radius:0px;-moz-border-radius:4px;-webkit-border-radius:4px;
	*display:inline;}
* html ul#css3menu20 li a{
	display:inline-block;}
ul#css3menu20>li{
	margin:0 0 0 10px;}
ul#css3menu20 ul>li{
	margin:10px 0 0;}
ul#css3menu20 a:active, ul#css3menu20 a:focus{
	outline-style:none;}
ul#css3menu20 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:13px PT Sans,Arial,Helvetica,sans-serif;color:#00ff00;cursor:default;padding:3px;background-color:#00aaff;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu20 ul li{
	float:none;margin:0;}
ul#css3menu20 ul a{
	text-align:left;padding:4px;background-color:#47515B;border-width:0 0 1px 0;border-style:solid;border-color:#3B444C;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:13px Dosis,Arial,Helvetica,sans-serif;color:#CBCFDB;text-decoration:none;}
ul#css3menu20 li:hover>a,ul#css3menu20 li a.pressed{
	background-color:#47515B;border-style:none;color:#00ff00;text-decoration:none;}
ul#css3menu20 span{
	display:block;overflow:visible;background-image:url("arrowmain0.gif");background-position:right center;background-repeat:no-repeat;padding-right:17px;}
ul#css3menu20 li:hover>a>span{
	background-image:url("arrowmain1.gif");}
ul#css3menu20 > label.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:3px 10px;}
ul#css3menu20 > label.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#47515B;-moz-box-shadow:0 8px #000000, 0 16px #000000;-webkit-box-shadow:0 8px #000000, 0 16px #000000;box-shadow:0 8px #000000, 0 16px #000000;}
ul#css3menu20 > label.switch:hover:before{
	background:#00ff00;-moz-box-shadow:0 8px #00ff00, 0 16px #00ff00;-webkit-box-shadow:0 8px #00ff00, 0 16px #00ff00;box-shadow:0 8px #00ff00, 0 16px #00ff00;}
ul#css3menu20 > .switchbox{
	display:none;}
ul#css3menu20 ul li:hover>a,ul#css3menu20 ul li a.pressed{
	background-color:#47515B;border-style:solid;border-color:#616D8E;color:#00ff00;text-decoration:none;}
ul#css3menu20>li>a{
	padding:3px 10px;}
ul#css3menu20 li.topmenu>a{
	border-width:0 0 3px 0;border-style:none;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;padding:3px 10px;}
ul#css3menu20 li.topmenu:hover>a,ul#css3menu20 li.topmenu a.pressed{
	border-style:none;}
ul#css3menu20 li.toproot>a{
	border-width:0 0 3px 0;border-style:none;border-color:#00aaff;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;padding:3px 10px;}
ul#css3menu20 li.toproot:hover>a,ul#css3menu20 li.toproot a.pressed{
	border-style:solid;border-color:#47515B;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
@media screen and (max-width: 768px) {
	ul#css3menu20 > li {
		position: initial;}
	ul#css3menu20 ul .submenu,ul#css3menu20 li > ul {
		left: 0; right:auto; top: 100%;}
	ul#css3menu20 .submenu,ul#css3menu20 ul,ul#css3menu20 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
}
@media screen and (max-width: 238px) {
	ul#css3menu20 {
		width: 100%;}
	ul#css3menu20 > li {
		display: none !important;		position: relative;		width: 100% !important;}
	ul#css3menu20 > label.switch,ul#css3menu20 .switchbox:checked ~ li {
		display: block !important;}
}